**/appsettings.json
**/appsettings.Development.json
!PortalSubastas.Gateway/**/appsettings.json
!**/appsettings.Example.json

## IGNORAR SCRIPTS, SQL, DOCKER
*.ps1
**/sql/
Dockerfile*
docker-compose*

## IGNORAR ARCHIVOS DE USUARIO Y TEMPORALES DE VS
.vs/
.idea/
*.user
*.useroslog
*.sln.docstates

## IGNORAR COMPILACIÓN
bin/
obj/

## IGNORAR PAQUETES
packages/